# List and its default functions

In [1]:
shopping = ["bread", "milk", "eggs", "banana"]
len(shopping)

4

In [2]:
max(shopping)

'milk'

In [3]:
min(shopping)

'banana'

In [4]:
len(shopping)

4

In [7]:
shopping.append("apple")
print(shopping)

['bread', 'milk', 'eggs', 'banana', 'apple', 'apple', 'apple']

# Dictionary and its default functions

In [11]:
dict = {"Name": "Rishav Raj",
        "Age": 15,
        "Class": "Tenth"
       }
len(dict)

3

In [13]:
str(dict)

"{'Name': 'Rishav Raj', 'Age': 15, 'Class': 'Tenth'}"

In [16]:
dict.items()

dict_items([('Name', 'Rishav Raj'), ('Age', 15), ('Class', 'Tenth')])

In [18]:
dict.values()

dict_values(['Rishav Raj', 15, 'Tenth'])

In [20]:
dict.keys()

dict_keys(['Name', 'Age', 'Class'])

# Sets and its default functions

In [23]:
s1 = {"apple", "orange" , "mango"}
s1.add("pineapple")
print(s1)

{'pineapple', 'mango', 'apple', 'orange'}

In [25]:
s2 = {1,2,3,4}
s3 = {3,4,5,6}
print(s2|s3)

{1, 2, 3, 4, 5, 6}

In [27]:
print(s2&s3)

{3, 4}

In [29]:
print(s2-s3)

{1, 2}

In [31]:
print(s2.issubset(s3))

False

# Tuples and explore default methods

In [33]:
t = ("monday", "tuesday", "wednesday")
len(t)

3

In [35]:
max(t)

'wednesday'

In [37]:
min(t)

'monday'

In [39]:
t.append("thursday")
print(t)

AttributeError: 'tuple' object has no attribute 'append'

In [40]:
# tuples are immutable

In [42]:
print(t+("thursday", "friday"))

('monday', 'tuesday', 'wednesday', 'thursday', 'friday')

# Strings and explore default methods

In [44]:
name = "Rishav"
name.lower()

'rishav'

In [46]:
name.capitalize()

'Rishav'

In [48]:
name.upper()

'RISHAV'

In [50]:
len("Rishav")

6

In [51]:
name.count("s")

1